@using EthozCapital.CustomLibraries;
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    ViewBag.Title = "Home Page";
}
<div class="tab-pane active in" id="nav-tab2-1">
    <h3 class="m-t-10"></h3>
    <fieldset>
        <legend class="pull-left col-md-10 col-sm-8 col-xs-8">Insurance</legend>
        <legend class="btn pull-right col-xs-2 text-center collapseBtn" data-toggle="collapse" data-target="#insurance">
            <span class="if-collapsed"><i class="fa fa-plus"></i></span>
            <span class="if-not-collapsed"><i class="fa fa-minus"></i></span>
        </legend>
        @if (ViewData["IsNew"] != null)
        {
            <legend class="btn pull-right col-md-1 col-xs-3 text-center" id="btnAddInsurance" style="margin-right:5px;"><i class="fa fa-plus"></i>Add</legend>
            <div id="insurance" class="tbl_wrapper insurance collapse in">
                <table id="tblInsurance" class="table table-bordered dataTable table-hover">
                    <thead>
                        <tr>
                            <th autowrap style="min-width:65px;text-align:center;">Action</th>
                            <th autowrap style="max-width:140px;text-align:center;">Insurance Type *</th>
                            <th autowrap style="text-align:center;">Expiry Date *</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        }
        else
        {
            if (ViewBag.Viewable == false)
            {
                <legend class="btn pull-right col-md-1 col-xs-3 text-center" id="btnAddInsurance" style="margin-right:5px;"><i class="fa fa-plus"></i>Add</legend>
            }
            <div id="insurance" class="tbl_wrapper insurance collapse in">
                <table id="tblInsurance" class="table table-bordered dataTable table-hover">
                    <thead>
                        <tr>
                            <th autowrap style="min-width:65px;text-align:center;">Action</th>
                            <th autowrap style="max-width:140px;text-align:center;">Insurance Type *</th>
                            <th autowrap style="text-align:center;">Expiry Date *</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        }
    </fieldset>
</div>
<script>
    $(document).ready(function () {
        tblInsurance = $("#tblInsurance").DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "language": {
                "zeroRecords": "No Data Available.",
                "infoEmpty": "No Data Available."
            },
            "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
        if ('@Html.Raw(ViewData["IsNew"])' == '') {
            InitializeInsauranceRowUpdate(@Html.Raw(@serializer.Serialize(@Model)));
            if ('@Html.Raw(ViewBag.Viewable)' == 'True') {
                $('#tblInsurance tr').prop('disabled', 'disabled')
            }
        }
        });
</script>